
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #4C689E;
  --secondary-color: #4169E1;
  --grey-color: #F7F9FD;
  --darkGrey-color: #EFF3FB;
  --white-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.left-side{
  background-color: red;
}
.login-page-container{
  display: grid;
  grid-template-columns: 30% 70%;
  
}
.right-side{
  padding: 24px;
  height: 100dvh;
}
/* navigation-bar */

.Navbar-container{

}
.navigation-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up-btn{
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  height: 50px;
  width: 162px;
  color: var(--white-color)

}
.homensvg{
  display: flex;
  align-items: center;
  padding: 4px;
}
.homensvg svg{
  margin-right: 12px;
}



*{
  /* outline: 1px solid var(--secondary-color); */
  /* padding: 2px; */
}

.right-side{
  background-color: var(--darkGrey-color);
}
/* login container styling */
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 180px;
}
.login-text{
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: var(--primary-color);

}
/* login with google */
.login-with-google{
  width: 100%;
  padding: 20.5px;
  background-color: white;
  border: 1px solid #D7E1F4;
  box-shadow: 0 15px 19px #d7e1f4d3;
  border-radius: 12px;
  margin-bottom: 24px;
}
.login-with-google .google-container{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-with-google .google-container svg{
  margin-right: 8px;
}
.login-form-container{
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: 12px;
  /* margin-top: 24px; */
  width: 100%;
  padding: 40px;
}
.login-form-field{

  
}
label{
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
color: #4C689E;
}
.inputs-div{
  margin-bottom: 16px;
}
.remember-me-recoverpas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.remember-me-recoverpas .remember{
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #4C689E;
  gap: 8px;

}
.recover-password{
  color: #EE5D50;
}
button{
  cursor: pointer;
}
.login-form-field input{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;

}
.loginbtn{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  border-radius: 10px;

}